<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <div id="user_nav">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
      <%= link_to "Link with Twitter", user_omniauth_authorize_path(:twitter) %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %> |

    <% end %>
  </div>
  <% if user_signed_in? %>
	<% if current_user.token != nil%>
	<div id="tweets"> 
		<% for t in current_user.tweets%>
			<%=t.description%>
			<br />
		<% end%>
		
	</div>
	<% end %>
  <% end %>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</head>
<body>

<%= yield %>

</body>
</html>
